# Rust
/target/
**/*.rs.bk

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
.out/
dist/


# Tauri
/src-tauri/target/

# IDEs and editors
/.idea/
*.swp
*.swo
*.swn
*.bak
*.orig

# OS specific
.DS_Store
Thumbs.db

# Environment variables
.env

# Package locks (uncomment if you choose to ignore)
# pnpm-lock.yaml